.movie {
    width: calc(100vw-300px);
    /* border: 2px solid green; */
    margin: -750px auto;
    margin-left: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    clear: both;
}
.movie-nsfo{
    overflow: hidden;
    position: relative;
}
.movie img {
    width: 350px;
    height: 500px;
    border-radius: 5px;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.7);
    opacity: 0.8;
    transform: translate(-50%,50%);
}
.movie-nsfo:hover .text {
    transform: translate(-50%,-50%);
    transition: transform 0.6s ease-in-out;
}
.text h5 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.text p {
    font-weight: 500;
}
h5 , p ,span {
    color: #000;
    margin-bottom: 10px;
}
.text span {
    font-size: 20px;
    font-weight: bold;
}