.navbar {
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    width: 300px;
    flex-direction: row;
    overflow: hidden;
    clear: both;
    transform: translateX(-240px);
    transition: margin 0.5s ease-in-out;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}



.left-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 240px;
    height: 100vh;
    background: #000;
}
.img {
    cursor: pointer;
}
.nav-links ul {
    display: flex;
    /* border: 2px solid blue; */
    width: 230px;
    padding-top: 30px;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.nav-links ul li {
    width: 100px;
    height: 300px;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.nav-links ul li a {
    text-decoration: none;
    color: #f9f6f6;
    font-weight: 400;
    font-size: 16px;
}

.nav-links ul li a:hover {
    color: #dc3545;
    transition: color 0.3s ease-in-out;
}

.bottom-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.copy-claim p {
    color: #999;
}

.icons-down {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 10px;
}

.right-container {
    background: #f8f6f6;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container>img {
    height: 48px;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 80px;
}

.footer-container>img {
    width: 30px;
}