.search-container{
    position: absolute;
    top: 0;
    left: 400px;
    /* border: 2px solid red; */
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 0;
}
.search-container > input {
    border: 2px solid white;
    width: 300px;
    box-shadow: 0px 0px 20px white;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #f0f0f0;
}